@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This app can parse only the CSV files at the moment and will throw an error if no headers are specified in the csv file. The headers expected are
            Account, Description, Currency Code and Amount
        </p>
    </div>
</div>